@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
    color: gray;
    margin-top: 20px;
    
}

/* Header */

h1, h2 {
    font-family: 'Lato', 'sans-serif';
    
    color: black;
    letter-spacing: 2px;
}
h2 {
    font-size: 150%;
    clear: both;
}
#whc {
    float: left;
    font-size: 450%;
    margin-left: 50px;
    line-height: 80px;
    vertical-align: middle;
}

span {
    color: rgb(51, 51, 4);
}
#menu, #whc {
    
}

#menu {
    font-size: 220%;
    letter-spacing: 2px;
    line-height: 80px;
    vertical-align: middle;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 20px;
}

#menu a {
    text-decoration: none;
    color:inherit
}

#menu a:hover {
    border-bottom: 2px solid grey;
}

.active {
    border-bottom: 2px solid grey;
}

#hero {
    
    height: 850px;
    width: 100%;
    background-image: url('../images/lag-bild.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
    
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
      


#hero-outer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
}



#team-logo {
    max-width: 80%;
    float: left;
    animation-name: team-zoom;
    animation-duration: 6s;
    animation-fill-mode: backwards;
    
    
}

@keyframes team-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

hr {
    border: 2px solid grey;
}

#text {
    height: 800px;
    display: flex;
}

#history {
    width: 80%;
    padding-top: 20px;
    float:left;
    margin-left: 50px;
    font-size: x-large;
    text-align: center;
    
    
}

#tiger {
    
    
    
    max-height: 70%;
    float: right;
    margin-right: 100px;

}

#why {
    width: 33%;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    font-size: x-large;
}

footer {
    height: 200px;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 200%;
    margin: 2%;
    padding: 5%;
    color: grey;
}

.scorers {
    margin-top:0; 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .scorers ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  
  .scorers li {
    margin-bottom: 20px; 
    font-size: large;
    color: gray;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
  }
  
  input[type="text"], select, textarea {
    padding: 8px;
    border: 2px solid gray;
    border-radius: 4px;
    width: 300px;
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  input[type=email] {
  padding: 8px;
  border: 2px solid gray;
  border-radius: 4px;
  width: 300px;
  font-size: 1.1em;
  margin-bottom: 15px;
  }
  select {
    background-size: 12px;
    background-position: calc(100% - 15px) 50%;
    padding-right: 25px;
  }
  
  textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1.1em;
    
  }
  
  button[type="submit"]:hover {
    background-color: black;
  }